body {
    background-color: #0f0f0f;
}

main > a > h1 {
    text-align: center;
    color: white;
}

a {
    color: white;
}
main > span {

    background-color: #522e2c;
    ;

}

pre {
    color: white;
}
h2 {
background-color: #522e2c;
;
    color: #cbc18f;
}

h3 {

    
    background-color: #cbc18f ;
    color: black;

}

ul {

    
    color:black;

}
li {

    color: white;
}


main {
padding-left: 106px;
padding-top: 50px;

}


.sidebar {
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 40px;
background-color: #627d62;
padding: 0.4rem 0.8rem;

}

.sidebar.active {
width: 250px;

}

.sidebar #btn {
position: absolute;
top: 0;
left: -5px;
cursor: pointer;





}

.sidebar ul li {

    
    position: relative;
    list-style: none;
   top: 40px;
   left: -32px;
   height: 50px;
    
    
}

.sidebar.active ul li {

    position: relative;
    list-style: none;
   top: 5px;
   left: -15px;
   height: 20px;


}

.sidebar ul li a {

    display: flex;
    
    text-decoration: none;
    border-radius: 0.8rem;

}

.sidebar ul li a i {
    position: relative;
    
min-width: 50px;
text-align: center;
border-radius: 12px;
line-height: 50px;

}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar li {
padding-top: 25%;
margin-left: -10%;

}

.sidebar ul li a:hover {
background-color: #cbc18f;
color: #0f0f0f;

}


.topbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 6vh;
    width: 100%;
    padding: 0.4rem 0.8rem;
background-color: #292929;


}

.topbar #pf2e {
    position: absolute;
    right: 50px;
    cursor: pointer;
    background-color: #292929;
    top: 0;
}

.box {
    position: absolute;
    top: 0;
    right: 0;
    height: 6vh;
    width: 100%;
    padding: 0.4rem 0.8rem;
background-color: #292929;

}
.box.active {
height: 450px;
width: 13%;
right: 0;


}

.box a #boxes {

  position: relative;
top: 0;
opacity: 0;


}

.box.active a #boxes {
position: relative;
    opacity: 1;
    margin-top: 60px;
    align-items: center;
    
  
    
}

.box.active  ul li {
position: relative;
    list-style: none;
    right: 30px;
    margin-top: 20px;
    height: 90px;
}