@font-face {
    font-family: 'AppleGothic';
    src: url("applegothic.ttf");
    font-style: normal;


}

@font-face {
    font-family: 'CenturyGothic';
    src: url("CenturyGothic.ttf");
    font-style: normal;

}

@font-face {
    font-family: 'Gothic';
    src: url("GOTHIC.TTF");
    font-style: normal;
}

:root {
    --primary-color: #522e2c;
    --secondary-color: #806e45;

    --black-color: #0f0f0f;
    --pistachio-color: #627d62;
    --topbar-color: #292929;
    --sidebar-primary-color: #627d62;
    --sidebar-secondary-color: #64542F;
    --text-primary-color: white;
    --text-secondary-color: #0f0f0f;
    --text-terciary-color: #cbc18f;



}


body {
    background-color: var(--black-color);
    margin: 0;
    font-family: 'AppleGothic';
    font-variant: small-caps;
}

main>a>h1 {
    text-align: center;
    color: var(--primary-text-color);
    font-family: 'AppleGothic';
    font-size: 19.5px;
    font-variant: small-caps;


}

main>a {

    text-decoration: none;

}

a {
    color: var(--text-primary-color);
}

main>span {

    background-color: var(--primary-color);
    ;


}

pre {
    color: var(--text-primary-color);
    font-size: 15px;
    font-family: 'Gothic';
    font-variant: small-caps;
    overflow-x: scroll;


}

h2 {
    background-color: var(--primary-color);
    color: var(--text-terciary-color);
    font-family: 'CenturyGothic';
    font-variant: small-caps;
    font-size: 26.25px;

}

main h3 {


    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-family: 'AppleGothic';
    font-size: 19.5px;
    font-variant: small-caps;



}

ul {


    color: var(--black-color);

}

li {

    color: var(--text-primary-color);
    font-family: 'AppleGothic';
    font-size: 15px;
}


main {
    padding-left: 106px;
    padding-top: 50px;

}

header {
    display: flex;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: var(--topbar-color);


}

.box #pf2e {
    cursor: pointer;
    background-color: var(--topbar-color);
    width: 210px;
    height: 50px;
    box-sizing: border-box;


}

.box {
    position: fixed;
    right: 5%;
    top: 0;
    background-color: var(--topbar-color);
    display: flex;
    flex-direction: column;
    align-items: center;






}





.otheritems {

    display: none;
}

.otheritems.active {

    display: flex;
    flex-direction: column;

}

.item {


    background-color: var(--topbar-color);
    height: 60.29px;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.icon {

    height: 50px;
    width: 210px;
}

.item.active {


    background-color: var(--topbar-color);
    height: 60.29px;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: center;




}

.item img {

    height: 46px;
    width: 188px;
    align-self: center;


}

.logo {
    position: relative;
    background-color: var(--topbar-color);
    top: 0;




}

.logo #homeicon {

    width: 407.72;
    height: 50px;

}


.topnav {
    width: 400px;
    position: relative;
    background-color: aqua;
    box-sizing: border-box;

}

.topnav>input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.topnav>img {
    position: absolute;
    height: 100%;
    right: 0;
}

.sidebar {

    position: fixed;
    top: 7.2%;
    background-color: var(--sidebar-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;




}

.sidebaritems {

    position: relative;
    background-color: var(--sidebar-primary-color);
    height: 43px;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    left: 15px;



}



.sidebaritems span {

    position: relative;
    color: var(--text-primary-color);
    display: inline-block;
    white-space: nowrap;
    left: 20px;
    justify-self: center;
    align-self: center;
    opacity: 0;





}

.othersidebaritems.active span {

    position: relative;
    color: var(--text-primary-color);
    display: inline-block;
    white-space: nowrap;
    left: 20px;
    justify-self: center;
    align-self: center;
    opacity: 1;


}


.sidebaritems img {

    width: 18px;
    height: 18px;

}



.othersidebaritems {
    position: relative;
    transition: ease-in-out 0.5s, color ease-in-out 0.5s;



}

.othersidebaritems.active {
    position: relative;

    background-color: var(--sidebar-primary-color);
    display: flex;
    flex-direction: column;
    height: 344px;
    width: 260px;
    transition: ease-in-out 0.5s, color ease-in-out 0.5s;
}


.terciarysidebar {

    position: fixed;
    bottom: 0;
    background-color: var(--pistachio-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4%;
    height: 43px;





}


.terciarysidebar.active {

    position: fixed;
    top: 395px;
    background-color: var(--pistachio-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 257px;



}


.terciarysidebaritems {

    position: relative;
    background-color: var(--pistachio-color);
    height: 43px;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    left: 7px;



}



.terciarysidebaritems span {

    position: relative;
    color: var(--text-primary-color);
    background-color: var(--sidebar-secondary-color);
    display: inline-block;
    white-space: nowrap;
    left: 20px;
    justify-self: center;
    align-self: center;
    opacity: 0;





}

.terciarysidebaritems.active span {

    position: relative;
    color: var(--text-primary-color);
    display: inline-block;
    white-space: nowrap;
    left: 20px;
    justify-self: center;
    align-self: center;
    opacity: 1;


}


.terciarysidebaritems img {

    width: 18px;
    height: 18px;

}

.secondarysidebar {

    position: fixed;
    top: 395px;
    background-color: var(--sidebar-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4%;
    height: 292px;





}


.secondarysidebar.active {

    position: fixed;
    top: 395px;
    background-color: var(--sidebar-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 292px;



}


.secondarysidebaritems {

    position: relative;
    background-color: var(--sidebar-secondary-color);
    height: 43px;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    left: 7px;



}

.secondarysidebaritems.active {

    position: relative;
    background-color: var(--sidebar-secondary-color);
    height: 43px;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;
    left: 7px;



}



.secondarysidebaritems span {

    position: relative;
    color: var(--text-primary-color);
    background-color: var(--sidebar-secondary-color);
    display: inline-block;
    white-space: nowrap;
    left: 20px;
    justify-self: center;
    align-self: center;
    opacity: 0;





}

.secondarysidebaritems.active span {

    position: relative;
    color: var(--text-primary-color);
    display: inline-block;
    white-space: nowrap;
    left: 20px;
    justify-self: center;
    align-self: center;
    opacity: 1;


}


.secondarysidebaritems img {

    width: 18px;
    height: 18px;

}